<div class="layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= render "layouts/aside" %>
    <main class="mdl-layout__content">
      <div class="page-content">

        <div class="row marg-top">
          <div class="col-lg-12 col-md-12 col-sm-12 text-center marg-top">
            <h2 class="p-color ">
              <i class="fa fa-inr"></i>
              <span style="font-size:52px;">4,500</span>
            </h2>
            <strong style="margin-top:10%;" class="pink-color"><i class="fa fa-user"></i>&nbsp;&nbsp;Joey Barnes</strong><br/>
            <span class="light-grey">Store Credits: <strong class="mdl-color-text--green-300">+456</strong></span>
          </div>

          <div class="container">
            <header>
              <div id="material-tabs">
                <a id="tab1-tab" href="#tab1" class="active">Cash</a>
                <!-- 													<a id="tab2-tab" href="#tab2">Card</a>
                 -->												<a id="tab3-tab" href="#tab3">Credits</a>
                <span class="yellow-bar"></span>
              </div>
            </header>

            <div class="tab-content">
              <div id="tab1">
                <button class="btn btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent green-dark-btn">
                  <i class="fa fa-money"></i>&nbsp;&nbsp; Collect Cash
                </button>

              </div>
              <!-- <div id="tab2">
                  <p>Second tab content.</p>
              </div> -->
              <div id="tab3">
                <button class="btn btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--red-400">
                  <i class="fa fa-bank"></i>&nbsp;&nbsp; Add to Store Credit
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="row footer-btn">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <button class="btn btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Invoice
            </button>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>
<script type="text/javascript">
  window.scanbee.init();
  $(document).ready(function() {
    $('#material-tabs').each(function() {

      var $active, $content, $links = $(this).find('a');

      $active = $($links[0]);
      $active.addClass('active');

      $content = $($active[0].hash);

      $links.not($active).each(function() {
        $(this.hash).hide();
      });

      $(this).on('click', 'a', function(e) {

        $active.removeClass('active');
        $content.hide();

        $active = $(this);
        $content = $(this.hash);

        $active.addClass('active');
        $content.show();

        e.preventDefault();
      });
    });
  });
</script>