<div class="layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= render "layouts/aside" %>
    <main class="mdl-layout__content">
      <div class="page-content">

        <div class="row marg-top">
          <div class="col-lg-12 col-md-12 col-sm-12 text-center marg-top">
            <a href="1-listing.html"><i class="fa fa-cubes big-icon p-color"></i></a>
            <span class="circleBase type50 text-center marg-badge"><strong>5</strong></span>
            <h4 class="p-color ">Pet Products Store</h4>
            <strong class="pink-color">Bobby Axelrod<br/><span class="light-grey">17-FEB-2016</span></strong>

            <br/>
            <div class="mloader" id="caseBlanche">
              <div id="rond">
                <div id="test"></div>
              </div>
              <div id="load">
                <strong>Scanning</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="row footer-btn">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <button class="btn btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Continue
            </button>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>