<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Shop</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href=""><i class="fa fa-trash fa-2x"></i></a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">SCANBEE</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="" class="p-color"><i class="fa fa-envelope"></i>&nbsp;&nbsp;SHOP</a>
    <a class="mdl-navigation__link" href="" class="p-color"><i class="fa fa-envelope"></i>&nbsp;&nbsp;ORDERS</a>
    <a class="mdl-navigation__link" href="" class="p-color"><i class="fa fa-envelope"></i>&nbsp;&nbsp;INSIGHT</a>
  </nav>
</div>