<!DOCTYPE html>
<html>
<head>
  <title>ScanbeeV11</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="Scanbee" />
  <meta name="author" content="Namra Maheshwari" />
  <meta name="application-name" content="Scanbee">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#FFFFFF">
  <!--<link rel="manifest" href="manifest.json">-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
